.achievmentBoxHeadings {
    width: 40%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-right: 2em;
}


.achievmentsH1 {
    font-family: 'Azeret Mono', monospace;
    color:white;
    font-weight: 500;
    display: inline;
    margin-bottom:20px;
}

.achievmentsP {
    font-family: 'Azeret Mono', monospace;
    color:white;
    font-weight: 200;
    display: inline;
}

.achievmentBoxMain {
    background-color:rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top:solid white 1px;
}

.achievmentBoxMainNest {
    margin-top: 20px;
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.achievmentsImg {
    width: 28em;
    height:20em;
    background-image: url(./Assets/fccCertificate.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1000px) {
        .achievmentBoxMainNest {
            flex-direction: column;
        }
        .achievmentBoxHeadings {
            width: 70%;
            margin-bottom: 2em;
        }
    }
  
  @media screen and (max-width: 500px) {
      .achievmentsImg {
          display: none;
      }
  }
