.navbar {
    background-color:#201f1f;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width:100%;
    position: absolute;
}

.navbarLi {
    list-style:none;
    padding: 1em;
    font-family: 'Azeret Mono', monospace;
    color:white;
}


.navbarLiLogo {
    list-style:none;
    padding: 1em 1em 1em 0em;
    font-family: 'Azeret Mono', monospace;
    color:white;
}

.navbarUl {
    color:white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:65%;
}

.logoLi {
    color:white;
    list-style-type: none;
}

.contentsLi {
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.aTags {
    color:white;
    text-decoration: none;
}

.navbarLi:hover {
    background-color: black;
}


@media screen and (max-width: 850px) {
    .navbarLi {
        Display:none;
    }
}